<app-administrator-interface></app-administrator-interface>
<h1 class="text-center">Product Management</h1>
<button type="button" class="btn btn-primary">Add Product</button>
<button type="button" class="btn btn-primary">Update Product</button>
<button type="button" class="btn btn-primary">Delete All Products</button>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.price | currency}}</td>
            </tr>
        </tbody>
    </table>
