*.pem
*.db
var/


node_modules/
bundle.js


# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
*node_modules*
*/var/*

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*



HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*/application.properties
ShopForHome_Users/ShopForHome_Users/src/main/resources/application.properties
/.metadata/
ShopForHome_Carts/infoapp
ShopForHome_Users/infoapp
ShopForHome_Carts/infoapp
ShopForHome_Users/infoapp
