<app-user-interface-header></app-user-interface-header>
<head>
  <link rel="stylesheet" href="cart.component.css">
</head>
<h1 class="text-center">Cart</h1>

<div class="list-group">
  <div *ngFor="let item of cartItemsWithDetails; index as i;">
    <a class="list-group-item list-group-item-action" aria-current="true">

        <h5 class="mb-1">{{item.name}}</h5>
        <div>
          <button type="submit" (click) = "decrement(i)" class="btn">-</button>
          <small>{{item.quantity}}</small>
            <button type="submit" (click) = "increment(i)" class="btn">+</button>
          
        <small style ="float: right">{{item.price | currency}}</small>
        </div>
        
      <p class="mb-1">{{item.description}}</p>
      <small>And some small print.</small>
    </a>
    <button type="button" class="btn removeButton" (click) = "onRemoveCartItem(item.itemId)">Remove</button>
  </div>



<div>
  <button type="submit" class="btn btn-primary">CheckOut</button>
  <button type="button" (click)="onClearCart()">Clear Cart</button>
</div>