<app-user-interface-header></app-user-interface-header>
<h1 class="text-center">Cart</h1>

<div class="list-group">
  <div *ngFor="let item of cartItemsWithDetails">
    <a class="list-group-item list-group-item-action" aria-current="true">

        <h5 class="mb-1">{{item.name}}</h5>
        <div>
          <small>{{item.quantity}}</small>
        <small style ="float: right">{{item.price | currency}}</small>
        </div>
        
      <p class="mb-1">{{item.description}}</p>
      <small>And some small print.</small>
    </a>
    <button type="button" class="btn" style = "border-color: rgb(0, 0, 0);">Remove</button>
  </div>



<div>
  <button type="submit" class="btn btn-primary">CheckOut</button>
  <button type="reset">Clear Cart</button>
</div>