<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/admin">ShopForHome Administrator</a>
            </div>
            <ul class="nav nav-pills">
            
                <li class="nav-item"><a class="nav-link " routerLink="/usermanagement" id="navbarDarkDropdownMenuLink" aria-expanded="false">
                    User Management</a></li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/productmanagement" id="navbarDarkDropdownMenuLink"aria-expanded="false">
                    Product Management
                </a>
                </li>                           
            <li class="nav-item"><a class="nav-link" (click)="logout()" routerLink="/">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>



