<app-user-interface-header></app-user-interface-header>
<body>
      <h1 class ="text-center"> Welcome to great outdoors! A place where you can shop for your backyard or garden. </h1>
      <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Alphabetical (A-Z)</a></li>
              <li><a class="dropdown-item" >Alphabetical (Z-A)</a></li>
              <li><a class="dropdown-item" >Price (Low to High)</a></li>
              <li><a class="dropdown-item" >Price (High to Low)</a></li>
            </ul>
          </div>
      <div class="card-group">
      <div class="card" style="width: 18rem;">
            <img src="assets/images/outdoorSofa.jpg" class="card-img-top" alt="Outdoor Sofa">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn">Add to WishList</button>
              <button type="button" class="btn">Add to Cart</button>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="assets/images/outdoorTableSet.jpg" class="card-img-top" alt="Outdoor Table Set">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn">Add to WishList</button>
              <button type="button" class="btn">Add to Cart</button>
            </div>
          </div>
      </div>
      <p>Sourced from https://unsplash.com and https://www.pexels.com/</p>
</body> 
