<app-user-interface-header></app-user-interface-header>
<body>
      <h1 class ="text-center"> Ready to cook up a storm in the kitchen? Have we got the right products for you. </h1>
      <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Alphabetical (A-Z)</a></li>
              <li><a class="dropdown-item" >Alphabetical (Z-A)</a></li>
              <li><a class="dropdown-item" >Price (Low to High)</a></li>
              <li><a class="dropdown-item" >Price (High to Low)</a></li>
            </ul>
          </div>
    

      <div *ngFor="let product of products; index as i;" div class="card-group">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/{{product.name}}.jpg" class="card-img-top" alt="Outdoor Table Set">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}} | Price: {{product.price}} dollars</p>

            <button type="button" (click) = "onClickWishlist(product.productId)" class="btn">Add to Wishlist</button>
            <button type="submit" (click) = "onClickCart(product.productId, i)" class="btn">Add to Cart</button>
            <button type="submit" (click) = "decrement(i)" class="btn">-</button>
            {{product.counter}}
            <button type="submit" (click) = "increment(i)" class="btn">+</button>
            
           
          </div>

          


        </div>
      </div>

      
      <footer style="text-align: center;">
        <p>Sourced from https://unsplash.com and https://www.pexels.com/</p>
      </footer>

</body> 
