<app-user-interface-header></app-user-interface-header>
<body>
    <h1 class ="text-center">Welcome to ShopForHome. A place where you can shop for your home.</h1>
    <carousel>
        <slide>
          <img src="assets/images/couch.jpg" alt="Couch" style=" width: 50%;">
        </slide>
        <slide>
          <img src="assets/images/simpleTable.jpg" alt="Simple Table" style="width: 50%;">
        </slide>
        <slide>
          <img src="assets/images/simpleChair.jpg" alt="Simple Chair" style="display: block; width: 50%;">
        </slide>
      </carousel>
</body>
