<app-administrator-interface></app-administrator-interface>
<h1 class="text-center">User Management</h1>

<button type="button" (click) ="updateUser()"[disabled]="!getSelectedUsers().length"class="btn btn-primary">Update User</button>
<button type="button" (click)="deleteSelectedUsers()"[disabled]="!getSelectedUsers().length"class="btn btn-primary">Delete User</button>
<button type="button"[disabled]="!getSelectedUsers().length" class="btn btn-primary">Delete All Users</button>


<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
              </th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <input type="checkbox" [(ngModel)]="user.selected" (change)="updateSelectAllState()">
              </td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="selectedUser" class="update-product-form">
    <h2>Update Product</h2>
    <form (ngSubmit)="onUpdateUserSubmit()">
        <div>
            <label>UserName:</label>
            <input type="text" [(ngModel)]="selectedUser.username" name="name" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" [(ngModel)]="selectedUser.password" name="password" required>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" [(ngModel)]="selectedUser.email" name="email" required>
        </div>
        <div>
            <label>Role:</label>
            <input type="text" [(ngModel)]="selectedUser.role" name="role" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </form>
</div>