<app-administrator-interface></app-administrator-interface>
<h1 class="text-center">User Management</h1>

<button type="button" [disabled]="!getSelectedUsers().length"class="btn btn-primary">Update User</button>
<button type="button" (click)="deleteSelectedUsers()"[disabled]="!getSelectedUsers().length"class="btn btn-primary">Delete User</button>
<button type="button"[disabled]="!getSelectedUsers().length" class="btn btn-primary">Delete All Users</button>


<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
              </th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <input type="checkbox" [(ngModel)]="user.selected" (change)="updateSelectAllState()">
              </td>
              <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
        </tr>
    </tbody>
</table>
